.button-row-container {
  width: 400px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-row-container button {
  width: 150px;
  background-color: aqua;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

.button-row-container button:hover {
  background-color: rgb(195, 85, 247);
}
